@charset "UTF-8";

/*
em HTML é id    = em CSS é # (so pode um elemento)
em HTML é class = em CSS é . (pode varios elementos)
da para colocar id e class juntos também.
*/

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    color: rgb(119, 0, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px;
    width: 300px;
    border: 1px solid rgb(119, 0, 255);
    margin: auto;
    margin-bottom: 20px;
    outline: 3px dashed rgb(119, 0, 255);
    outline-offset: 5px;
}

h1#principal {
    color: black;
    background-color: white;
    text-align: center;
    width: auto;
    border: none;
    outline: 5px dashed ;
}

p {
    background-color: rgb(222, 196, 247);
    text-align: justify;
}

.basico {
    color: green;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px;
    width: 200px;
    border: 1px solid green;
    margin: auto;
    outline: 3px dashed;
}

.intermediario {
    color: yellow;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px;
    width: 230px;
    border: 1px solid yellow;
    margin: auto;
    outline: 3px dashed;
}

.avancado {
    color: red;
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 8px;
    width: 230px;
    border: 1px solid rgb(255, 0, 0);
    margin: auto;
    outline: 3px dashed;
}

.destaque {
    text-decoration: underline;
    text-decoration-color: rgb(185, 185, 185);
}

div {
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

#d1 {
    color: blue;
    border-color: chocolate;
    border-radius: 8px;
}

#d2 {
    color:springgreen;
    border-color: teal;
    border-radius: 8px;
}

#d3 {
    color: orange;
    border-color: violet;
    border-radius: 8px;
}

#d1:hover {
    background-color: yellow;
    border-radius: 20px;
    border: 5px solid red;

}

#d2:hover {
    background-color: red;
    border: 5px solid green;
    border-radius: 20px;

}

#d3:hover {
    background-color: green;
    border: 5px solid yellow;
    border-radius: 20px;
}
